<ul class="list-group">

  {{#each vehicles}}
    <li class="list-group-item" data-id="{{id}}">
      {{#with offerThread}}
        {{#with messages}}
          <span class="badge">{{count}}</span>
        {{/with}}
      {{/with}}
      <h4 class="list-group-item-heading">{{year}} {{make}} {{model}}</h4>
      <p class="pull-right">$30,000</p>
      <p class="list-group-item-text">{{vin}}</p>
    </li>
  {{/each}}

</ul>
