<h4>Details <a href="{{edit_uri}}" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-edit"></i> Edit</a></h4>
<table class="table table-condensed table-hover">
    <tr>
      <td><strong>Date</strong></td>
      <td>{{startDate}}</td>
  </tr>
    <tr>
      <td><strong>Producer</strong></td>
      <td>{{#with producer}}{{fullName}}{{/with}}</td>
  </tr>
    <tr>
      <td><strong>Level</strong></td>
      <td>{{productionLevel}}</td>
  </tr>
    <tr>
      <td><strong>Competition</strong></td>
      <td>{{competitionLevel}}</td>
  </tr>
    <tr>
      <td><strong>Sport</strong></td>
      <td></td>
  </tr>
    <tr>
      <td><strong>Gender</strong></td>
      <td></td>
  </tr>
    <tr>
      <td><strong>Distributions</strong></td>
      <td></td>
  </tr>
    <tr>
      <td><strong>Venue</strong></td>
      <td>
        {{#if venue}}{{venue}}<br/>{{/if}}
        {{#if city}}{{city}}, {{/if}}{{state}}
    </td>
  </tr>
</table>
